/* TODO: Make it awesome */

body {
  background-color: lavender;
  color: darkcyan;
  width: 90%;
  margin:40px;
}

header {
  font-size: 30px;
  padding:20px;
  text-align: center;
}

nav {
  display: inline-block;
}
li{
  display: inline;
  text-decoration: none;
  padding: 10px;
  color: slateblue
}
footer {
  padding: 30px;
  text-align: center;
}